<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coords</title>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <style>
        #title-div {
            width: 100%;
            position: absolute;
            text-align: center;
            z-index: 10;
            text-shadow: 1px 1px 1px black;
            padding: 10px;
            font-family: sans-serif;
            color: white;
        }

        #title {
            background-color: mediumaquamarine;
            padding: 5px;
            opacity: 50%;
        }

        #map {
            z-index: 1;
        }
    </style>
</head>

<body>
    <div id="title-div"><span id="title">Click for coords</span></div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="js/copy_to_clipboard.js"></script>

    <script>

        mapboxToken = 'pk.eyJ1Ijoibmlja3R1ayIsImEiOiJjanpxZjNyNWMwZ2JtM2xxc2Qzb3pnaXpqIn0.K0REWPkiR2k4QAwCDjUdHw';
        urlMapbox = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + mapboxToken;
        urlOSM = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

        var bangkok_coords = [13.731137355938804, 100.57528529316188];

        var map = L.map('map').setView(bangkok_coords, 16);
        L.tileLayer(urlMapbox, {
            maxZoom: 18,
        }).addTo(map);

        var title = document.getElementById('title');

        map.on('click', function (e) {
            var coord = e.latlng;
            var lat = coord.lat.toFixed(6); // round to 6 decimal places
            var lng = coord.lng.toFixed(6);

            title.innerHTML = (lat + ", " + lng);
            copyToClipboard(lat + ", " + lng);
            console.log("Click at latitude " + lat + ", longitude " + lng);
            drawDot(e);
        });

        var dot;
        function drawDot(e) {
            if (dot != undefined) {
                map.removeLayer(dot);
            };
            dot = L.circle(e.latlng, 10, { // draw a 10m diameter circle
                color: 'purple',
                fillOpacity: 1.0,
                opacity: 0.5
            }).addTo(map);
        }
    </script>
</body>