<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click to login to TUK</title>
    <style>
        html,
        body {
            /* background-color: #2b2a2a; */
            background-color: skyblue;
        }

        .text {
            padding: 5px;
            color: navy;
            font-weight: 300;
            font-size: 30px;
            /* font-family: 'Roboto'; */
            padding-top: 20px;
        }

        .container {
            width: 200px;
            height: 100%;
            margin: 0 auto 0;
        }

        .pulse-button {
            position: relative;
            width: 100px;
            height: 100px;
            border: none;
            box-shadow: 0 0 0 0 gold;
            border-radius: 50%;
            background-color: gold;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        }

        .pulse-button:hover {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            animation: none;
        }

        @-webkit-keyframes pulse {
            to {
                box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            }
        }

        @-moz-keyframes pulse {
            to {
                box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            }
        }

        @-ms-keyframes pulse {
            to {
                box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            }
        }

        @keyframes pulse {
            to {
                box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
            }
        }
    </style>
</head>

<body>

    <div align="center" style="margin-top:70px;">
        <div class="container" onclick="goToTuk()">
            <button class="pulse-button"><span class="text">TUK</span></button>
        </div>
    </div>

    <div align="center" style="position: absolute; top:0; left:0">
        <div id="userid" class="text">userid</div>
        <div id="nickname" class="text">nickname</div>
        <div id="status">status</div>
    </div>

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script>

        window.onload = function (e) {
            liff.init(function (data) {
                console.log("liff data", data);
                run(data);
                setTimeout(function () {
                    liff.openWindow({ url: "https://app.tukbot.com/tuktuk?login=true" });
                    liff.closeWindow(); // closeWindow call
                }, 1000)
            });
        };

        function goToTuk() {
            // window.location = "https://app.tukbot.com/tuktuk";
            console.log("liff.openWindow()");
            liff.openWindow({ url: "https://app.tukbot.com/tuktuk?login=true" });
        }

        function run(data) {
            console.log("access token", liff.getAccessToken());

            liff.getProfile()
                .then(function (profile) {
                    document.getElementById('userid').textContent = profile.userId;
                    document.getElementById('nickname').textContent = profile.displayName;
                    document.getElementById('status').textContent = profile.statusMessage;
                }).catch(function (error) {
                    window.alert("Error getting profile: " + error);
                });

        }
    </script>
</body>