<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging in to TUK...</title>
    <style>
        html,
        body {
            background-color: black;
        }

        body {
            /* can also be whatever container */
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .text {
            padding: 5px;
            color: gold;
            font-weight: 300;
            font-size: 30px;
            /* font-family: 'Sans-serif'; */
            /* padding-top: 20px; */
        }

        .container {
            width: 200px;
            height: 100%;
            margin: 0 auto 0;
        }

        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 4;
            stroke-miterlimit: 10;
            stroke: gold;
            fill: black;
            animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: block;
            stroke-width: 6;
            stroke: gold;
            stroke-miterlimit: 10;
            margin: 10% auto;
            box-shadow: inset 0px 0px 0px #7ac142;
            animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        }

        .checkmark__check {
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        }

        @keyframes stroke {
            100% {
                stroke-dashoffset: 0;
            }
        }

        @keyframes scale {

            0%,
            100% {
                transform: none;
            }

            50% {
                transform: scale3d(1.1, 1.1, 1);
            }
        }

        @keyframes fill {
            100% {
                box-shadow: inset 0px 0px 0px 30px #fff;
            }
        }

        button {
            display: flex;
            color: black;
            justify-content: center;
            margin: 0 auto;
            height: 3em;
            width: 80vw;
            background-color: gold;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 15px;
            display: none;
            /* start hidden */
        }
    </style>
</head>

<body>
    <!--------------------------------------------------------------------------------------->
    <!-- <div align="center" style="margin-top:30px;"> -->
    <!-- <div class="container" onclick="goToTuk()"> -->
    <!-- <button class="pulse-button"><span class="text">Logging in to TUK</span></button> -->
    <!-- </div> -->


    <div class="center">
        <div class="text" id="msg">Logging in to TUK...</div>

        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
        <br>

        <button id="button" onclick="goTo()">Go to Profile</button>
    </div>

    <!--------------------------------------------------------------------------------------->

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script>

        var path = ""; // fill with path on window load
        var userId = ""; // fill with user_id from LINE

        window.onload = function (e) {
            path = getVar("path");
            console.log("path var", path);
            liff.init((data) => run(data));
        };

        function goToURL() {
            return `https://app.tukbot.com/${path}?login=true&user_id=${userId}`;
        }

        // button click redirect, if necessary
        function goTo() {
            console.log("liff.openWindow()");
            liff.openWindow({ url: goToURL(), external: true });
            liff.closeWindow(); // closeWindow call
        }

        function run(data) {
            // console.log("access token", liff.getAccessToken());

            liff.getProfile()
                .then(function (profile) {
                    userId = profile.userId

                    var welcome = "สวัสดีค่ะ"; // "Sawatdii Ka"
                    if (data.language !== "th") {
                        welcome = "Welcome";
                    }
                    document.getElementById('msg').textContent = `${welcome} ${profile.displayName}`;
                    document.getElementById('button').textContent = `GO TO ${path}`;
                    document.getElementById("button").style.display = "block";

                    setTimeout(function () {
                        liff.openWindow({ url: goToURL(), external: true });
                        liff.closeWindow(); // closeWindow call
                    }, 1000)
                }).catch(function (error) {
                    window.alert("LINE Login error: " + error);
                });

        }

        function getVar(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            console.log('Query variable %s not found', variable);
        }
    </script>
</body>