<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUK Map</title>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="assets/icon-kiwi.ico">
</head>

<body>
    <div id="map"></div>

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="liff-starter.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="sw.js"></script>

    <script>

        mapboxToken = 'pk.eyJ1Ijoibmlja3R1ayIsImEiOiJjanpxZjNyNWMwZ2JtM2xxc2Qzb3pnaXpqIn0.K0REWPkiR2k4QAwCDjUdHw';
        urlMapbox = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + mapboxToken;
        urlOSM = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

        // var bangkokCoords = [13.731137355938804, 100.57528529316188];
        var bangkokCoords = [13.73114, 100.57529];

        var map = L.map('map').setView(bangkokCoords, 14);
        L.tileLayer(urlMapbox, {
            maxZoom: 18,
        }).addTo(map);

        /////////////////

        // placeholders for the L.marker and L.circle representing user's current position and accuracy
        var current_position, current_accuracy;

        function onLocationFound(e) {
            // if position defined, then remove the existing position marker and accuracy circle from the map
            if (current_position) {
                map.removeLayer(current_position);
                map.removeLayer(current_accuracy);
            }

            var radius = e.accuracy / 2;

            current_position = L.marker(e.latlng).addTo(map)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            current_accuracy = L.circle(e.latlng, radius).addTo(map);
        }

        function onLocationError(e) {
            alert(e.message);
        }

        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);

        // wrap map.locate in a function
        function locate() {
            map.locate({ setView: true, maxZoom: 16 });
        }

        function notify() {
            console.log('NOTIFY');
            if (!window.Notification) {
                console.log('Browser does not support notifications.');
            } else {
                // check if permission is already granted
                if (Notification.permission === 'granted') {
                    var notify = new Notification('Hi there!', {
                        body: 'How are you doing?',
                        icon: 'https://bit.ly/2DYqRrh',
                    });
                } else {
                    // request permission from user
                    Notification.requestPermission().then(function (p) {
                        if (p === 'granted') {
                            var notify = new Notification('Hi there!', {
                                body: 'How are you doing?',
                                icon: 'https://bit.ly/2DYqRrh',
                            });
                        } else {
                            console.log('User blocked notifications.');
                        }
                    }).catch(function (err) {
                        console.error(err);
                    });
                }
            }
        }

        navigator.serviceWorker.register('sw.js');

        function showNotification(msg) {
            console.log('try: ' + msg);
            Notification.requestPermission(function (result) {
                if (result === 'granted') {
                    navigator.serviceWorker.ready.then(function (registration) {
                        // registration.showNotification('notification: [hi]');
                        registration.showNotification(msg, {
                            body: 'Buzz! Buzz!',
                            icon: '/assets/icon-kiwi.png',
                            vibrate: [200, 100, 200, 100, 200, 100, 200]
                            //     tag: 'vibration-sample'
                        });
                    });
                } else {
                    console.log('Notification requestPermission not granted!');
                }
            });
        }
        setInterval(showNotification("notified at " + new Date().toLocaleTimeString()), 5 * 1000);

        map.on('click', function (e) { showNotification("clicked lah!") });

        setInterval(locate, 10 * 1000); // update your location every 10 seconds
        // setInterval(notify, 5 * 1000);

        // navigator.serviceWorker.register('sw.js');
        Notification.requestPermission(function (result) {
            if (result === 'granted') {
                navigator.serviceWorker.ready.then(function (registration) {
                    // registration.showNotification('Notification with ServiceWorker');
                    console.log('serviceWorker is ready')
                });
            }
        });
    </script>
</body>