<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Tuktuk</title>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="shortcut icon" href="assets/icon-kiwi.ico">
    <style>
        #title-div {
            width: 100%;
            position: absolute;
            text-align: center;
            z-index: 10;
            text-shadow: 1px 1px 1px black;
            padding: 10px;
            font-family: sans-serif;
            color: white;
        }

        #title {
            background-color: mediumaquamarine;
            padding: 5px;
            opacity: 50%;
        }

        #map {
            z-index: 1;
        }

        html,
        body {
            height: 100%;
            font-family: sans-serif;
        }

        #top {
            height: 80%;
        }

        #bottom {
            background: #eee;
            height: 20%;
            padding: 10px;
        }
    </style>
</head>

<body>

    <!-- <div id="title-div"><span id="title">Click for coords</span></div> -->
    <div id="top">
        <div id="map"></div>
    </div>
    <div id="bottom">
        <h2>Status</h2>
        </hr>
        <h2>Raintree Village Apartment ✏</h2>
    </div>

    <!-------------------------------------------------------------------->

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    <script>

        mapboxToken = 'pk.eyJ1Ijoibmlja3R1ayIsImEiOiJjanpxZjNyNWMwZ2JtM2xxc2Qzb3pnaXpqIn0.K0REWPkiR2k4QAwCDjUdHw';
        urlMapbox = 'https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=' + mapboxToken;
        urlOSM = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

        var soi41_coords = [13.731076, 100.572174];
        var stop0_coords = [13.732597, 100.572560];
        var stop1_coords = [13.729366, 100.571766];
        var stop2_coords = [13.728929, 100.572152];

        var map = L.map('map').setView(soi41_coords, 17);
        map.removeControl(map.zoomControl);
        L.tileLayer(urlMapbox, {
            tileSize: 512,
            zoomOffset: -1,
            minZoom: 14,
            maxZoom: 19,
        }).addTo(map);


        var title = document.getElementById('title');

        map.on('click', function (e) {
            drawDot(e);
        });

        L.circle(stop0_coords, 5, { // draw a 10m diameter circle
            color: 'purple',
            fillOpacity: 1.0,
            opacity: 0.5
        }).addTo(map);

        L.circle(stop1_coords, 5, { // draw a 10m diameter circle
            color: 'purple',
            fillOpacity: 1.0,
            opacity: 0.5
        }).addTo(map);

        L.circle(stop2_coords, 5, { // draw a 10m diameter circle
            color: 'purple',
            fillOpacity: 1.0,
            opacity: 0.5
        }).addTo(map);

        var dot;
        function drawDot(e) {
            if (dot != undefined) {
                map.removeLayer(dot);
            };
            dot = L.circle(e.latlng, 5, { // draw a 10m diameter circle
                color: 'red',
                fillOpacity: 1.0,
                opacity: 0.5
            }).addTo(map);
        }
    </script>
</body>